body, h1, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

section.header-section {
}

p.header-text {
  margin-top: 5px;
}

p.header-text:hover {
  cursor: pointer;
}

div.banner-container {
  background: #fff;
  margin: 0 0 20px 0;
  color: #333;
}

h1.banner-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #4F595C;
  margin: 25px;
}

img.banner-image {
  max-width: 300px;
  margin: 30px auto;
}

div.welcome-row {
  margin-bottom: 30px;
}

h3.welcome-header {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

p.welcome-message {
  color: #333;
}

p.welcome-signature {
  color: #333;
  text-align: right;
}

p.menu-item {
  border: 1px transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  background: #3b4e66;
  margin: 15px auto;
  text-align: center;
  color: #fff;
  max-width: 225px;
  opacity: 0.9;
}

p.menu-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

section.content-section {
  margin-top: 50px;
}

section.odd-section {
  background: #eee;
}

h3.section-header {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}

p.section-header-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

h5.therapist-name {
  text-align: center;
  font-weight: 700;
}

div.therapist-image {
  width: 80%;
  height: 200px;
  background: #aaa;
  margin: 0 auto;
}

p.therapist-text {
  padding: 35px 45px;
}

p.services-bullets {
  padding: 35px 45px;
  text-align: center;

}

div.form-container {
  width: 75%;
  margin: 25px auto;
}

h5.form-title {
  text-align: center;
}

a.form-link {
  color: #fff;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

h5.contact-header {
  text-align: center;
  font-weight: 700;
}

p.contact-text {
  font-size: 18px;
  text-align: center;
}

div.directions-text {
  font-size: 16px;
  margin-bottom: 30px;
}

footer {
  background: #3b4e66;
  opacity: 0.9;
  color: white;
}

div.footer-bold-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  max-width: 400px;
  padding: 50px;
}

div.links-title {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
}

ul.links-list {
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin-bottom: 30px;

}

a.footer-link:hover {
  color: #aaa;
}

header {
  z-index: 10000000;
  text-align: center;
  line-height: 108px;
  height: 108px;
  background: #3b4e66;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  display: none;
}

header.sticky {
  opacity: 0.9;
  display: block;
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

i.fa-bars {
  margin: 12px;
}
i.fa-bars:hover {
  cursor: pointer;
  opacity: 0.6;
}

iframe {
  border: 2px solid #3b4e66;
}


#menu {
	-webkit-overflow-scrolling: touch;
	background: #3b4e66;
  opacity: 0.9;
	color: #fefefe;
  margin-top: 48px;
	width: 100%;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
  z-index: 100;
}

div.menu-toggle {
  display: none;
}

p.side-menu-text {
  width: 90%;
  border-bottom: solid 1px #fefefe;
  text-align: center;
  font-size: 12px;
}

p.side-menu-text:hover {
  cursor: pointer;
  opacity: 0.6;
}

img.map-image {
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
}

img.map-image:hover {
  cursor: pointer;
}


/*.close {
	background-image: url('images/close.svg');
	background-position: 4.85em 1em;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	display: block;
	height: 3em;
	position: absolute;
	right: 0;
	top: 0;
	vertical-align: middle;
	width: 7em;
}*/
