body, h1, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

section.header-section {
  height: 100%;
}

div.banner-container {
  background: linear-gradient(345deg, #478EA6, #eee);
  margin: 0 0 20px 0;
  color: #333;
}

h1.banner-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #4F595C;
  margin: 25px;
}

div.welcome-row {
  margin-bottom: 30px;
}

h3.welcome-header {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

p.welcome-message {
  color: #333;
}

p.welcome-signature {
  color: #333;
  text-align: right;
}

p.menu-item {
  border: 1px transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  background: #fff;
  margin: 15px auto;
  text-align: center;
  color: #333;
  max-width: 225px;
}

p.menu-item:hover {
  color: #478EA6;
  cursor: pointer;
  opacity: 0.8;
}

section.content-section {
  margin-top: 50px;
}

section.odd-section {
  background: #eee;
}

h3.section-header {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}

h5.therapist-name {
  text-align: center;
  font-weight: 700;
}

div.therapist-image {
  width: 80%;
  height: 200px;
  background: #aaa;
  margin: 0 auto;
}

p.therapist-text {
  padding: 35px 45px;
}

div.form-container {
  width: 75%;
  margin: 25px auto;
}

h5.form-title {
  text-align: center;
}

a.form-link {
  color: #fff;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

h5.contact-header {
  text-align: center;
  font-weight: 700;
}

p.contact-text {
  font-size: 18px;
  text-align: center;
}

p.directions-text {
  font-size: 16px;
  margin-bottom: 30px;
}

footer {
  background: #478EA6;
  color: white;
}

div.footer-bold-text {
  font-weight: 700;
  font-size: 20px;
  padding: 50px;
}

div.links-title {
  margin-top: 30px;
  font-weight: 700;
}

ul.links-list {
  text-decoration: none;
  list-style: none;
  margin-bottom: 30px;
}

a.footer-link:hover {
  color: #aaa;
}
